button.deleteButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #cf0f0fa8;
    transition: all 0.2s;
    &:hover {
        background: #610404c5;
    }
}
