.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.fortuneItemWarapper {
    display: flex;
    flex-direction: column;
    background: rgb(112 112 112 / 50%);
    border-radius: 25px;
    padding: 10px;
    gap: 15px;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.fortuneItem {
    padding: 20px 25px;
    width: 100%;
    :global {
        .subtitle {
            font-size: 30px;
        }
        .text {
            font-size: 20px;
        }
    }
}
.deleteButton {
}
.updateButton {
}
