.button {
    width: 40px;
    height: 40px;
    background: #19a648;
    border-radius: 15px;
    color: #fff;
    text-align: center;
    font-family: 'CeraPro';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
        background: #0b6128;
        color: rgb(177, 177, 177);
    }
}
